@model IEnumerable<Work_Connect.Models.post_a_job>

@{
    ViewData["Title"] = "Posted Job Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Navigation</title>
    <link rel="stylesheet" href="~/css/postedjob.css">
    <a asp-controller="PostedjobController" asp-action="post" class="nav-link"></a>
</head>
<body>

<div class="background-wrapper">
    <div class="dot"></div>
    <p class="text-with-dot">Posted Jobs</p>
    <div class="vertical-line"></div>
    <div class="job-list-container">
            @foreach (var job in Model)
            {
                <div class="right-box">
                    <div class="image-container">
                        <img src="~/images/job.png" alt="Job Image" style="width: 100%; height: auto; border-radius: 5px;">
                        <div class="text-button-container">
                                <h3>@job.job_title</h3>
                            <br>
                                <p>@job.company_name</p>
                                   <form asp-action="Delete" asp-controller="Postedjob" method="post">
                <input type="hidden" name="id" value="@job.id" />
            <button type="submit" class="action-button">Delete</button>
        </form>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>

<script src="commompage.js"></script>
</body>
</html>
