@model IEnumerable<Work_Connect.Models.Admins>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/AdminLogin.css">
</head>
<body>
	<div class="login-container">
		<h2> Login</h2>
		@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
		{
			<p style="color:red;">@ViewBag.ErrorMessage</p> <!-- Error message if credentials are incorrect -->
		}

		<form action="/AdminLogin/Login" method="POST">
			<div class="input-group">
				<label for="username"> Admin Login</label>
				<input type="text" id="username" name="username" required>
			</div>
			<div class="input-group">
				<label for="password"> Password</label>
				<input type="password" id="password" name="password" required>
			</div>
			
			<button type="submit" class="btn btn-secondary" style="background-color:#635BFF; color:white; padding:10px 10px 20px; width:270px; height:40px; border-radius:5px;">
				Login
			</button>


		</form>
	</div>
</body>
</html>
