<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="~/css/adminhome.css">
</head>
<body>
    <div class="button-list">
      
        <a href='@Url.Action("users", "AdminUsers")' class="btn">Users</a>
        <a href="#jobposted" class="btn">Job Posted</a>
        <a href='@Url.Action("AdminVerifiedcompanie", "AdminVerifiedcompanies")' class="btn">Verify Companies</a>
        <a href="#companylogos" class="btn">Company Logos</a>
    </div>
</body>
</html>
