<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Navigation</title>
    <link rel="stylesheet" href="~/css/allpostedjob.css">
</head>
<body>
    <div class="background-wrapper">
        <div class="header-container">
            <div class="dot"></div>
            <p class="text-with-dot">Posted Jobs</p>
        </div>
        <div class="right-box-container">
            <div class="right-box">
                <div class="image-container">
                    <img src="~/images/job.png" alt="Description of the image" class="job-image">
                </div>
                <div class="text-button-container">
                    <h3>Software Engineer</h3>
                    <p>Vanos Enterprises</p>
                    <button class="action-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script src="commompage.js"></script>
</body>
</html>
