@{
    ViewData["Title"] = "ChangePassword";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Details</title>
    <link rel="stylesheet" href="~/css/EditDetails.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="container">
        <div class="edit-form">
            <div class="header">
                <a href="@Url.Action("Profile", "Profile")" class="back-button"><i class="fa fa-chevron-left"></i></a>
            </div>

        </div>
        <h2>Change Password</h2>
        <form asp-action="EditDetails" asp-controller="EditDetailsController" method="post">
            <div class="input-group">
                <div class="label-wrapper">
                    <span class="circle"></span>
                    <label for="current password">Enter Current Password</label>
                </div>
                <input type="password" id="current password">
                <span class="toggle-password"><i class="fas fa-eye"></i></span>
            </div>
            <div class="input-group">
                <div class="label-wrapper">
                    <span class="circle"></span>
                    <label for="new password">Enter New Password</label>
                </div>
                <input type="password" id="new password">
                <span class="toggle-password"><i class="fas fa-eye"></i></span>
            </div>
            <div class="input-group">
                <div class="label-wrapper">
                    <span class="circle"></span>
                    <label for="confirm password">Confirm New Password</label>
                </div>
                <input type="password" id="confirm password">
                <span class="toggle-password"><i class="fas fa-eye"></i></span>
            </div>
            <button type="submit" class="save-button">Save</button>
        </form>
    </div>
    </div>
</body>
</html>

