/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.background-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* White Rectangle */


/* Vertical Line */
.vertical-line {
    position: absolute; /* Positioning for top and left to take effect */
    top: 134px; /* Adjust the distance from the top */
    left: 30px; /* Adjust the distance from the left */
    display: flex;
    background-color: rgba(166, 141, 225, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
    border-radius: 25px; /* Adjusted to give a more rounded effect */
    padding: 20px 10px;
    width: 30px; /* You can define a width if necessary */
    height: 630px; /* Adjust height if necessary */
}

.text-with-dot {
    position: absolute; /* Use absolute positioning */
    top: 98px; /* Adjust the distance from the top */
    left: 100px; /* Adjust the distance from the left */
    right: auto; /* Optional: Ensure right is not affecting the positioning */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center vertically */
    font-size: 35px; /* Adjust the font size */
    color: #102842; /* Change text color if needed */
}

.dot {
    position: absolute; /* Allow positioning with top and left */
    top: 100px; /* Adjust the distance from the top */
    left: 30px; /* Adjust the distance from the left */
    width: 30px;
    height: 30px;
    background-color: #A68DE1;
    display: inline-block; /* Keep it inline with text */
    margin-right: 10px; /* Space between dot and text */
    border-radius: 50%; /* Makes it a circle */
}

.right-box-container {
    display: flex; /* Arrange items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    gap: -0px; /* Space between boxes */
    justify-content: center; /* Center items horizontally */
}

.right-box {
    width: 1400px; /* Set the desired width of the box */
    height: 180px; /* Set the desired height of the box */
    background-color: rgba(166, 141, 225, 0.1); /* No background color */
    border: none; /* Border color */
    border-radius: 25px; /* Optional: rounded corners */
    display: flex; /* Center content within the box */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: #000000; /* Text color inside the box */
    margin-top: 100px; /* Adjust top margin as needed */
    margin-left: 55px; /* Adjust left margin as needed */
    margin-right: -20px; /* Adjust right margin as needed */
    flex-direction: column; /* Stack items vertically */
}

.image-container {
    width: 100%; /* Full width for the image container */
    height: auto; /* Automatically adjust height */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    margin-top: 25px; /* Adjust top margin */
    margin-right: 1200px; /* Adjust right margin */

    margin-left: 250px; /* Adjust left margin */
}

    .image-container img {
        max-width: 100%; /* Ensure the image does not exceed the width of the container */
        height: auto; /* Maintain aspect ratio */
        max-height: 100px; /* Limit the maximum height of the image */
        object-fit: contain; /* Ensure the image fits within the dimensions without distortion */
    }

.text-button-container {
    display: flex;
    flex-direction: column; /* Stack text and button vertically */
    margin-left: 0px; /* Adjust spacing from the image */
}

.action-button {
    margin-top: 15px; /* Space between text and button */
    padding: 15px 30px; /* Increased button padding for height and width */
    background-color: #102842; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners for button */
    cursor: pointer; /* Cursor changes on hover */
    font-size: 15px; /* Increase font size for better visibility */
    width: 250px; /* Make the button take the full width of the container */
    max-width: 300px; /* Optional: set a max width */
}

    .action-button:hover {
        background-color: rgba(16, 40, 66, 0.8);
    }

.right-box1 {
    width: 1400px; /* Set the desired width of the box */
    height: 180px; /* Set the desired height of the box */
    background-color: rgba(166, 141, 225, 0.1); /* No background color */
    border: none; /* Border color */
    border-radius: 25px; /* Optional: rounded corners */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    display: flex; /* Center content within the box */
    color: #000000; /* Text color inside the box */
    margin-top: 20px; /* Adjust top margin as needed */
    margin-left: 95px; /* Adjust left margin as needed */
    margin-right: 10px; /* Adjust right margin as needed */
    flex-direction: column; /* Stack items vertically */
}

.image-container1 {
    width: 100%; /* Full width for the image container */
    height: auto; /* Automatically adjust height */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    margin-top: 25px; /* Adjust top margin */
    margin-right: 1200px; /* Adjust right margin */
    margin-bottom: 10px; /* Adjust bottom margin */
    margin-left: 250px; /* Adjust left margin */
}

    .image-container1 img {
        max-width: 100%; /* Ensure the image does not exceed the width of the container */
        height: auto; /* Maintain aspect ratio */
        max-height: 100px; /* Limit the maximum height of the image */
        object-fit: contain; /* Ensure the image fits within the dimensions without distortion */
    }

.text-button-container1 {
    display: flex;
    flex-direction: column; /* Stack text and button vertically */
    margin-left: 0px; /* Adjust spacing from the image */
}

.action-button1 {
    margin-top: 15px; /* Space between text and button */
    padding: 15px 30px; /* Increased button padding for height and width */
    background-color: rgba(16, 40, 66, 0.9);
    color: #fff; /* Button text color */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners for button */
    cursor: pointer; /* Cursor changes on hover */
    font-size: 15px; /* Increase font size for better visibility */
    width: 250px; /* Make the button take the full width of the container */
    max-width: 300px; /* Optional: set a max width */
}

    .action-button1:hover {
        background-color: rgba(16, 40, 66, 0.8); /* Change color on hover */
    }

.right-box2 {
    width: 1400px; /* Set the desired width of the box */
    height: 180px; /* Set the desired height of the box */
    background-color: rgba(166, 141, 225, 0.1); /* No background color */
    border: none; /* Border color */
    border-radius: 25px; /* Optional: rounded corners */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    display: flex; /* Center content within the box */
    color: #000000; /* Text color inside the box */
    margin-top: 20px; /* Adjust top margin as needed */
    margin-left: 95px; /* Adjust left margin as needed */
    margin-right: 10px; /* Adjust right margin as needed */
    flex-direction: column; /* Stack items vertically */
}

.image-container2 {
    width: 100%; /* Full width for the image container */
    height: auto; /* Automatically adjust height */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center the image horizontally */
    margin-top: 25px; /* Adjust top margin */
    margin-right: 1200px; /* Adjust right margin */
    margin-bottom: 10px; /* Adjust bottom margin */
    margin-left: 250px; /* Adjust left margin */
}

    .image-container2 img {
        max-width: 100%; /* Ensure the image does not exceed the width of the container */
        height: auto; /* Maintain aspect ratio */
        max-height: 100px; /* Limit the maximum height of the image */
        object-fit: contain; /* Ensure the image fits within the dimensions without distortion */
    }

.text-button-container1 {
    display: flex;
    flex-direction: column; /* Stack text and button vertically */
    margin-left: 0px; /* Adjust spacing from the image */
}

.action-button2 {
    margin-top: 15px; /* Space between text and button */
    padding: 15px 30px; /* Increased button padding for height and width */
    background-color: #102842; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners for button */
    cursor: pointer; /* Cursor changes on hover */
    font-size: 15px; /* Increase font size for better visibility */
    width: 250px;
    max-width: 300px;
}

    .action-button2:hover {
        background-color: rgba(16, 40, 66, 0.8);
    }



/* Media Queries */
@media (max-width: 768px) {
    .white-rectangle {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .colored-background {
        width: 75%;
        height: 50%;
        right: 10px;
        bottom: 20px;
    }

    .white-rectangle {
        width: 80%;
        flex-direction: column;
    }
}
