html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    background-color: #0f1c2d; /* Midnight Blue background */
    color: #ffffff;
    padding: 50px 10%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .footer-nav li {
        margin: 10px 0;
    }

        .footer-nav li a {
            color: #ffffff;
            text-decoration: none;
            font-size: 1rem;
        }

.footer-image {
    width: 300px; /* Increase the width */
    height: auto; /* Keep the aspect ratio */
}

    .footer-image img {
        width: 100%;
        height: auto;
    }
